@charset "UTF-8";


.main-color{
	background-color:rgb(063,163,203);
	color:#ffffff;
}

.btn-main{
	background-color:rgb(063,163,203);
	color:#ffffff;
	
}

.error_message{
	color:red;
	font-size: 12px;
}